div.col-md-3:nth-child(1){
    margin: 3%;
    background-color: #226699;
    padding: 5px;
    border-radius: 25px;
}

div.col-md-6:nth-child(2){
    margin: 3%;
    background-color: #ffc334;
    padding: 5px;
    border-radius: 25px;
}

.btn-custom {
    color: #226699;
    background-color: #ffdb57;
    border-color: #ffc334;
}

.btn-custom1 {
    color: #ddd;
    background-color: #226699;
    border-color: #226699;
    padding: 3px;
}

.btn-custom2 {
    color: #ddd;
    background-color: #226699;
    border-color: #226699;
    padding: 3px;
    alignment: right;
}

.pazinojums {
    color: #ffc334;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Izvēlēties failu';
    color: #ddd;
    background-color: #226699;
    border-color: #226699;
    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}
