* {box-sizing: border-box;}
form {border: 3px solid #f1f1f1;}
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffe57b;
}

/* home page header */
.header {
    overflow: hidden;
    background-color: #ffc334;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #226699;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;

}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

/* header dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #226699;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover, .dropdown:hover .dropbtn {
    background-color: #ffdb57;
    color: #226699;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffdb57;
    min-width: 160px;
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: #226699;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ffc334;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* home page divs */
.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    margin: 5%;
    background-color: #226699;
    padding: 10px;
    border-radius: 25px;
    width: 25%;
}

.flex-child-element:first-child {
    flex: 1;
    margin: 5%;
    background-color: #ffc334;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

.flex-child-element:first-child h1 {
    color: #226699;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    border-radius: 4px;
}

.flex-child-element:first-child p {
    color: #226699;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.flex-child-element h2 {
    color: #ddd;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    border-radius: 4px;
}

.flex-child-element li {
    color: #ddd;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}
