button:hover {
    opacity: 0.8;
}

span.psw {
    float: right;
    padding-top: 16px;
}

div.col-md-3 {
    margin-top: 10%;
    margin-left: 30%;
    width: 28%;
    background-color: #ffc334;
    padding: 10px;
    border-radius: 25px;
    alignment: center;
}

.btn-custom {
    color: #ddd;
    background-color: #226699;
    border-color: #226699;
}